<!-- Fixed navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
<div class="container-fluid">
  <a class="navbar-brand" href="/~zhangjen">Wiki Wiki Word Word</a>
	<ul class="nav nav-pills">
	  <li class="nav-item"><a href="/~zhangjen/microservice.html" class="nav-link">Microservice</a></li>
	  <li class="nav-item"><a href="/~zhangjen/about.html" class="nav-link">About</a></li>
	  <li class="nav-item"><a href="/~zhangjen/contact.html" class="nav-link">Contact</a></li>
	</ul>
</div>
</nav>